.todo-list-container {
  max-width: 50%;
  justify-self: center;
}

.todo-list {
  padding-left: 20px;
}

.todo-list ul {
  list-style: none;
  padding: 0;
}

.add-button,
.remove-button {
  cursor: pointer;
}
