.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  border: 2px solid #cccccc;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  font-size: 36px;
}
