* {
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: #212121;
  color: #cccccc;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 20px 100px;
}

.section-one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

textarea,
input,
button {
  border: 2px solid #cccccc;
  background: transparent;
  color: #cccccc;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

button {
  box-shadow: 0 2px 10px #cccccc;
}

button:hover {
  background-color: #cccccc;
  color: #212121;
  transition: 0.7s;
}

h2 {
  text-transform: uppercase;
}

@media (max-width: 1500px) {
  .section-one {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .wrapper {
    margin: 0;
  }
}
